<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RestauranteWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RestauranteWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="grid-container">
        <header class="header-area">
            <div class="logo-container">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="logo-text">Restaurante<span style="color: #21391e;">Web</span></span>
                </a>
            </div>
            <ul class="main-nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Mesa" asp-action="Index">MESA</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CARDÁPIO
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="ItemCardapio" asp-action="Index">Itens do Cardápio</a></li>
                        <li><a class="dropdown-item" asp-controller="GrupoCardapio" asp-action="Index">Grupos de Cardápio</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="FormaPagamento" asp-action="Index">FORMA DE PAGAMENTO</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        FUNCIONARIOS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Funcionario" asp-action="Index">Funcionários</a></li>
                        <li><a class="dropdown-item" asp-controller="TipoFuncionario" asp-action="Index">Tipos de Funcionário</a></li>
                    </ul>
                </li>
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CADASTRO RESTAURANTE
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Restaurante" asp-action="Index">Restaurantes</a></li>
                        <li><a class="dropdown-item" asp-controller="TipoRestaurante" asp-action="Index">Tipos de Restaurante</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Pagamento" asp-action="Pagamentos" asp-route-atendimentoId="1">PAGAMENTO</a>
                </li>
            </ul>

            <partial name="_LoginPartial" />
        </header>
        <div class="main-column">
             <main class="content-area" role="main">
                @RenderBody()
            </main>
        </div>
        <aside class="sidebar-area">
            <h4>Aceso rápido</h4>
            <ul class="quick-access-nav navbar-nav mt-3">
                 <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Mesa" asp-action="Index">MESA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Atendimento" asp-action="Iniciar">INICIAR ATENDIMENTO</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CARDÁPIO
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="ItemCardapio" asp-action="Index">Itens do Cardápio</a></li>
                        <li><a class="dropdown-item" asp-controller="GrupoCardapio" asp-action="Index">Grupos de Cardápio</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Pagamento" asp-action="Pagamentos" asp-route-atendimentoId="1">PAGAMENTO</a>
                </li>
            </ul>
        </aside>
        <footer class="footer-area">
            <p class="m-0">&copy; 2025 - RestauranteWeb</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
